@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255,140,146, 0.5) rgb(255,255,255);
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */


:root {
  --swiper-pagination-color: #FF8C92;
  --swiper-pagination-bullet-inactive-color: #000;
}
.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-extrabold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-light-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "slnt" 0;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inter-medium-italic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings:
    "slnt" 0;
}

.yellowtail-regular {
  font-family: "Yellowtail", cursive;
  font-weight: 400;
  font-style: normal;
}



.banner {
  background: url(../public/images/banner/banner.png) no-repeat center center;
  background-size: cover;
}

.error-banner {
  background: url(../public/images/error/error-Bg.png) no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .banner {
    background-position: left center;
    background-size: cover;
  }
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.input-cursor {
  animation: blink .6s linear infinite alternate;
}



.work-1 {
  background-color: #ECE6E7;
  background-image: url(../public/images/bubblyCircles/babyRose.png) , url(../public/images/bubblyCircles/babyBrown.png);
  background-position: top right, center center;
  background-repeat: no-repeat, no-repeat;
}
/* .curvy-1 { */
  /* background-color: burlywood;
  width: 300px;
  height: 300px;
  border-radius: 150px 129px 145px 112px/ 143px 134px 120px 149px;
} */

.curvySvg-1 {
  background: url(../public/images/works/breastCancer.jpg) no-repeat;
  background-size: cover;
}

@media (width <= 320px) {
  div.curvyCircle {
    width: 270px;
    height: 180px;
    border-radius: 45% 60% 50% 95%/ 55% 85% 70% 100%;
    background: linear-gradient(30deg, #F3EAEB, #FFF3F5);
  }
  div.curvyCircle::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 270px;
    height: 180px;
    background-image:  url(../public/images/peopleSay/curledLine0.5x.png);
    background-position: center center;
    background-size: 65%;
    background-repeat: no-repeat;
  }
  div.curvyCircle::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 270px;
    height: 180px;
    background-image:  url(../public/images/peopleSay/whiteBlobXl.png), url(../public/images/peopleSay/roseBlobXl.png), url(../public/images/peopleSay/blackBlobXl.png), url(../public/images/peopleSay/whiteBlobSm.png), url(../public/images/peopleSay/blackBlobSm.png);
    background-position: 6% 36%, 50% 14%, 92% 35%, 86% 42%, 48% 85%;
    background-size: 5%;
    background-repeat: no-repeat;
  }
  
}

@media (321px <= width < 640px) {
  div.curvyCircle {
    width: 300px;
    height: 200px;
    border-radius: 45% 60% 50% 95%/ 55% 85% 70% 100%;
    background: linear-gradient(30deg, #F3EAEB, #FFF3F5);
  }
  div.curvyCircle::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 300px;
    height: 200px;
    background-image:  url(../public/images/peopleSay/curledLine0.5x.png);
    background-position: center center;
    background-size: 65%;
    background-repeat: no-repeat;
  }
  div.curvyCircle::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 200px;
    background-image:  url(../public/images/peopleSay/whiteBlobXl.png), url(../public/images/peopleSay/roseBlobXl.png), url(../public/images/peopleSay/blackBlobXl.png), url(../public/images/peopleSay/whiteBlobSm.png), url(../public/images/peopleSay/blackBlobSm.png);
    background-position: 6% 36%, 50% 14%, 92% 35%, 86% 42%, 48% 85%;
    background-size: 5%;
    background-repeat: no-repeat;
  }
  
}

@media (width >= 640px){
div.curvyCircle {
  width: 450px;
  height: 300px;
  border-radius: 45% 60% 50% 95%/ 55% 85% 70% 100%;
  background: linear-gradient(30deg, #F3EAEB, #FFF3F5);
}
div.curvyCircle::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 450px;
  height: 300px;
  background-image:  url(../public/images/peopleSay/curledLine0.5x.png);
  background-position: center center;
  background-size: 65%;
  background-repeat: no-repeat;
}
div.curvyCircle::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 450px;
  height: 300px;
  background-image:  url(../public/images/peopleSay/whiteBlobXl.png), url(../public/images/peopleSay/roseBlobXl.png), url(../public/images/peopleSay/blackBlobXl.png), url(../public/images/peopleSay/whiteBlobSm.png), url(../public/images/peopleSay/blackBlobSm.png);
  background-position: 6% 36%, 50% 14%, 92% 35%, 86% 42%, 48% 85%;
  background-repeat: no-repeat;
}
}


/* For the swiper */
.swiper {
  display: flex !important;
  margin: 0 !important;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}

/* For the skills section */
.skills-container{
  background-image: url(../public/images/professionalSkills/pattern1.png), url(../public/images/professionalSkills/pattern2.png);
  background-position: right top, left bottom;
  background-size: 25%, 25%;
  background-repeat: no-repeat, no-repeat;
}

.skills-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../public/images/logo/excel.svg), url(../public/images/logo/MongoDB.svg), url(../public/images/logo/python.svg),  url(../public/images/logo/R.svg),  url(../public/images/logo/tensorflow.svg),  url(../public/images/logo/flask.svg);
  background-position: 2% 2%, 15% 86%, 35% 95%, 75% 18%, 50% 50%, 90% 90%;
  background-size: 86px 86px,100px 100px,40px 49px,38px 38px,45px 45px,43px 43px;
  background-repeat: no-repeat;
}
@media (1023px >= width >= 640px) {
  .skills-container::before{
    background-position: 10% 8%, 2% 45%, 15% 80%, 95% 10%, 95% 50%, 85% 95%;
    background-size: 88px 76px,80px 80px,40px 52px,40px 40px,50px 50px,45px 45px;
  }
}
@media (width > 1024px) {
  .skills-container::before {
    background-position: 20% 20%, 2% 45%, 15% 80%, 95% 10%, 95% 50%, 73% 85%;
    background-size: 96px 80px,100px 100px,45px 55px,40px 40px,55px 55px,50px 50px;
  }
}

@media (width < 640px) {
  .skills-container {
    background-size: 70%, 70%;
  }
}

.ml-role {
  background: url(../public/images/roles/pattern1.png) no-repeat top left;
  background-size: 140px 98.7px;
}

.engr-role {
  background: url(../public/images/roles/pattern2.png) no-repeat top left;
  background-size: 140px 98.7px;
}

.blog-banner .title {
  min-height: 150px;
  margin-bottom: 20px;
  background-image: url(../public/images/blog/blogSquiggly.png), url(../public/images/blog/blogTitleBg.png);
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 625px 104px, 257px 150px;
}